@charset "UTF-8";
/* CSS Document */

/* placeholder border */
div {
	border: solid 1px black;
}

body {
	font-family: "Helvetica";
	font-size: 16px;
}

.flex-container {
	display: flex;
	margin: 0 auto;
}

.nav {
	height: 64px;
	display: inline-flex;
	padding-left: 24px;
	justify-content: space-between;
    align-items: center;
	width: 100%;
}

.logo-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Mobile-menu {
	display: none;
}

.menu {
	align-content: center;
	justify-content: flex-end;
}

.menu li {
	padding-right: 16px;
	display: inline;	
}

.banner {
	display: inline-flex;
	width: 100%;
	align-items: center;
}

.banner img {
	width: 60%;
	height: auto;
	padding: 32px 40px 32px 24px;
	float: left;
}

.banner-info {
	width: 25%;
	display: inline;
}

.content-block {
	display: inline-flex;
	width: 100%;
	align-items: center;
}

.image-block {
	padding: 32px 24px 32px 24px;

}

.content-block img {
	width: 60%;
	height: auto;
}

.news-blocks {
	width: 423px;

}

h1 {
	font-weight: bold;
	display: inline;
	color: #4C4C4C;
	
}

h2 {
	color: gray;
	display: inline;
}

h3 {
	font-size: 2rem;
	font-weight: bold;
	color: lightslategrey;
}

h4 {
	padding-top: 32px;
	font-weight: bold;
	font-size: 1.5rem;
	color:lightslategrey;
}

.Start-learning {
	display: inline-flex;
	width: 100%;
	align-items: center;
	flex-wrap: wrap;
}

p {
	padding-top: 24px;
}

video {
	width: 60%;
}


