@charset "UTF-8";
/* CSS Document */

/* placeholder border */
div {
	border: solid 1px black;
}

body {
	font-family: "Helvetica";
	font-size: 16px;
	max-width: 1024px;
	margin: auto;
}

.flex-container {
	display: flex;
	margin: 0 auto;
}

/* Navigation */

.nav {
	height: 64px;
	display: inline-flex;
	padding-left: 24px;
	justify-content: space-between;
    align-items: center;
	width: 100%;
}

.logo-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Mobile-menu {
	display: none;
}

.menu {
	align-content: center;
	justify-content: flex-end;
}

.menu li {
	padding-right: 1rem;
	display: inline;	
}

/* Jumbotron */

.banner {
	display: inline-flex;
	width: 100%;
	align-items: center;
}

.banner img {
	max-width: 60%;
	height: auto;
	padding: 2rem 2.5rem 2rem 1.5rem;
	float: left;
}

.banner-info {
	width: 30%;
	display: inline;
}

.content-block {
	display: inline-flex;
	width: 100%;
	align-items: center;
}

/* Quote and News block */

.image-block {
	padding: 2rem 1.5rem 2rem 1.5rem;
	max-width: 60%;
}

.content-block img {
	width: 100%;
	height: auto;
	
}

.news-blocks {
	max-width: 423px;
	flex-direction: column;
	padding-top: 0px;
}

.news-blocks img {
	float: left;
	padding: 1rem;
	max-width: 35%;
	align-items: flex-start;
}

.news {
	display: inline-flex;
	align-items: center;
	
}

.image-block p {
	padding-bottom: 1.5rem;
}

.news p {
	padding: .5rem 0 .5rem 0;
}

/* Headers */

h1 {
	font-weight: bold;
	display: inline;
	color: #4C4C4C;
	
}

h2 {
	color: gray;
	display: inline;
}

h3 {
	font-size: 2.5rem;
	font-weight: bold;
	color: lightslategrey;
	padding-bottom: 1rem;
}

h4 {
	padding-top: 32px;
	font-weight: bold;
	font-size: 2rem;
	color:lightslategrey;
	padding-bottom: 1.5rem;
}

h6 {
	font-weight: bold;
	color: #4C4C4C;
	padding-bottom: .5rem;
	font-size: 1.25rem;
}

button {
	margin-top: .5rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	width: 85%;
}

/* Courses */

.Start-learning {
	display: inline-flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.learning-block {
	max-width: 25%;
	padding: 1rem 1rem 1.5rem 1rem;
	margin-right: 2rem;
	margin-bottom: 2rem;
}

.learning-block img {
	max-width: 100%;
	margin: 0px;
	padding: 0px;
}

.learning-block h6 {
	padding-top: 1rem;
}

.Start-learning h4 {
	display: block;
	text-align: center;
}

/* Thesis */

.Thesis {
	display: flex;
	max-width: 100%;
	flex-wrap: wrap;
	padding: 2rem 0 2rem 1.5rem;
}

.thesis-main {
	max-width: 50%;
}

.thesis-subs {
	display: flex;
    flex-direction: column;
    width: 423px;
	margin-left: 1rem;
}

.thesis-subs .news {
	height: 168px;
}

.Thesis img {
	padding: 1rem;
	width: 35%;
}

video {
	max-width: 100%;
}

/* footer */

footer {
	display: inline;
	padding-left: 1.5rem;
	max-width: 100%;
}

.footer-nav {
	display: inline;
}




